.form {
  /* width: 500px;
  display: flex;
  gap: 4px; */
  box-sizing: border-box;
  width: 400px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
h1 {
  margin-bottom: 0;
  font-weight: bold;
}
.field {
  flex-grow: 1;
  padding: 8px;
  font: inherit;
  margin-bottom: 5px;
}

.field:focus {
  outline-color: #1976d2;
}
/* import styled from '@emotion/styled'
import { Field, Form } from 'formik'


export const InputStyled = styled(Field)`
    color: red;
`;
export const DataForm = styled(Form)`
    box-sizing: border-box;
    width: 400px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    
`;

export const InputWrapper = styled.label`
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
`; */
